body{
    margin:0;
    font-family:'Poppins',sans-serif;
    background:#0f172a;
    color:white;
}

.hero{
    min-height:100vh;
    display:flex;
    justify-content:space-around;
    align-items:center;
    padding:50px;
}

.hero h1{
    font-size:4rem;
}

.hero span{
    color:#38bdf8;
}

.hero p{
    max-width:500px;
    line-height:1.8;
    color:#cbd5e1;
}

.hero img{
    width:350px;
    height:350px;
    border-radius:50%;
    object-fit:cover;
    border:5px solid #38bdf8;
}

.btn{
    padding:12px 25px;
    background:#38bdf8;
    color:white;
    text-decoration:none;
    border-radius:8px;
    margin-right:10px;
}

.btn:hover{
    transform:translateY(-3px);
}
.active{
color:#38bdf8 !important;
}

.skill-card,
.project-card,
.education-card,
.cert{
opacity:0;
transform:translateY(40px);
transition:0.6s;
}

.show{
opacity:1;
transform:translateY(0);
}
